.App {
 text-align: center;
}


.navbar {
  color:purple; 
}

.links {
  background-color: transparent;
}

.homecats {
  
}

#containerhdr {
  display: flex;
  justify-content: space-around;

}

.headertitle {
 padding-left: 0%;
}

.navhome {
}

.catbtns {
  display: grid;
  grid-template-columns: repeat(2,minmax(200px,1fr));
  grid-gap: 1em;
  padding: 32px 100px;
}

/* padding is changing row size */
.livingbtn {
  padding: 32px 16px;
}

/* padding is changing row size */
.bedbtn {
  padding: 32px 16px;
}

/* title
style="text-align:left;float:left;" */

/* /*search
style="text-align:right;float;right" */